@import url("./normalize.css");
@import url("./styleheader.css");
@import url("./stylemain.css");

body {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
