body {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.header {
  padding: 30px 26px 40px;
  position: relative;

  background-color: #ffffff;
  background-image: url("background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 100vh;
  min-height: 720px;
  max-height: 800px;

  display: flex;
  flex-direction: column;
}

.header_logo {
  width: 105px;
  height: 39px;
}

.nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav a {
  color: black;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav a:hover {
  color: #ff976b;
}

.header_content {
  padding-left: 50px;
  margin-top: 183px;
  max-width: 709px;
  display: flex;
  flex-direction: column;
}

.header-title {
  padding-left: 50px;
  margin-top: 183px;
}

.header-title span {
  display: block;
}

.header-title-top {
  font-family: "Times New Roman";
  font-style: italic;

  font-size: 58px;
  line-height: 72px;
  color: #ff976b;
}

.header-title-bottom {
  font-family: "Inter";
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header-description {
  padding: 50px;
  max-width: 683px;
  font-family: "Inter";
  font-style: normal;

  font-size: 20px;
  line-height: 30px;
}

.header-image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header-info {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header-info p {
  margin: 0px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header-info .adress {
  align-content: end;
  padding-right: 54px;
}
